<div id="index_main" class="index_main">
    <!--导航-->
    <div class="section section1">
        <div class="index_banner">
            <div class="item">
                <div class="items scaleBg" style="background-image: url(../static/image/banner1.jpg);"></div>
                <div class="inner">
                    <div class="block_txt">
                        <h4> Goodliness,to be continued</h4>
                        <h2>让<span>美好持续</span>发生</h2>
                        <h3>
                            <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
                                <p>适用浏览器：360、FireFox、Chrome、Opera、傲游、搜狗、世界之窗. 不支持Safari、IE8及以下浏览器。</p>
                                <p>来源：<a href="" target="_blank">{{.Home}}</a></p>
                            </div>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="items scaleBg" style="background-image: url(../static/image/banner5.jpg);"></div>
                <div class="inner">
                    <div class="block_txt">
                        <h4> Goodliness,to be continued</h4>
                        <h2>让<span>美好持续</span>发生</h2>
                        <h3>我们有让美好持续发生的愿望，更有让美好持续发生的能力</h3>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="items scaleBg" style="background-image: url(../static/image/banner2.jpg);"></div>
                <div class="inner">
                    <div class="block_txt">
                        <h4></h4>
                        <h2><span>0-12岁</span><br>可持续发展教育体系</h2>
                        <h3>0-3岁早教 | 3-6岁幼儿园 | 5-12岁成长衔接 | 6-12岁小学</h3>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="items scaleBg" style="background-image: url(../static/image/banner3.jpg);"></div>
                <div class="inner">
                    <div class="block_txt">
                        <h4></h4>
                        <h2>幼儿园园所整体解决方案</h2>
                        <h3>全程支持 | 个性服务</h3>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="items scaleBg" style="background-image: url(../static/image/banner4.jpg);"></div>
                <div class="inner">
                    <div class="block_txt">
                        <h4></h4>
                        <h2>成长管理发展测评</h2>
                        <h3>科学量表 | 全面评估 | 教育指导</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="left slick_txt">
            <div class="prev slick_arrow"></div>
        </div>
        <div class="right slick_txt">
            <div class="next slick_arrow"></div>
        </div>
        <div class="number">
            <div class="inner clearfix">
                <span class="active">01</span>
                <span>02</span>
                <span>03</span>
                <span>04</span>
                <span>05</span>
            </div>
        </div>
    </div>
{{/*    <div class="section section2">*/}}
{{/*        <div class="container">*/}}
{{/*            <h3>第二页</h3>*/}}
{{/*        </div>*/}}
{{/*    </div>*/}}
{{/*    <div class="section section3">*/}}
{{/*        <div class="container">*/}}
{{/*            <h3>第三页</h3>*/}}
{{/*        </div>*/}}
{{/*    </div>*/}}
{{/*    <div class="section section4">*/}}
{{/*        <div class="container">*/}}
{{/*            <h3>第四页</h3>*/}}
{{/*        </div>*/}}
{{/*    </div>*/}}
</div>