<div id="index_main" class="index_main">
    <!--导航-->
    <div class="section section1">
        <div class="index_banner">
            <div class="item">
                <div class="items scaleBg" style="background-color: #baffd1;"></div>
                <div class="inner">
                    <div class="block_txt">
{{/*                        <h4> Goodliness,to be continued</h4>*/}}
{{/*                        <h2>让<span>美好持续</span>发生</h2>*/}}
{{/*                        <h3>*/}}
{{/*                            <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">*/}}
{{/*                                <p>简介</p>*/}}
{{/*                                <p>来源：<a href="" target="_blank">{{.Home}}</a></p>*/}}
{{/*                            </div>*/}}
{{/*                        </h3>*/}}
                        <div class="am-g">
                            <div class="am-u-sm-4">4</div>
                            <div class="am-u-sm-8">8</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

